<section class="wiw-positions-table container-fluid" *ngIf="positionsArray">
  <div class="container-fluid wiw-positions-assigned" *ngIf="UserFeed">
    <span>Positions</span>
    <hr>
    <form [formGroup]="reassignForm" (ngSubmit)="reassignPosition(reassignForm)">
      <div *ngFor="let position of positionsArray; let i = index" class="d-flex">
        <span> {{ position.Name }}</span>
        <input type="checkbox" name="{{i.Name}}" formControlName="{{position.Id}}" value="{{position.Id}}">
      </div>
      <button type="submit">Save</button>
    </form>
    <div>
      <p *ngFor="let i of UserFeed.Positions">Assigned: {{ i }}</p>
    </div>
  </div>
</section>
