<section class="wiw-positions-table container-fluid">
  <div class="container-fluid wiw-positions-assigned">
    <span>Positions</span>
    <hr>
    <form [formGroup]="reassignForm" (ngSubmit)="reassign(reassignForm)" *ngIf="loaded">
      <div *ngFor="let position of positionsArray; let i = index" class="d-flex">
        <span> {{ position.Name }}</span>
        <input type="checkbox" name="{{i.Name}}" formControlName="{{position.Id}}" value="{{position.Id}}" [(ngModel)]="position.Assigned">
      </div>
      <button type="submit">Save</button>
    </form>
    <div>Assigned: 
      <p *ngFor="let i of UserFeed.Positions">{{ i }}</p>
    </div>
  </div>
</section>
